@model TekupMiniProject.Models.User

@{
    ViewData["Title"] = "AuthenticationSuccess";
}

<main class="px-3">
    <h1>Successful authentication .</h1>
    <p class="lead">The user has to prove its identity to the server.</p>
    
</main>