@model TekupMiniProject.Models.User

@{
    ViewData["Title"] = "InscriptionSuccess";
}

<main class="px-3">
    <h1>Successful registration .</h1>
    <p class="lead">The user has create his identity in the server.</p>
    
</main>